export LEIN_JAVA_CMD=/Applications/Processing.app/Contents/PlugIns/jdk1.8.0_202.jdk/Contents/Home/jre/bin/java
export JAVA_HOME=$LEIN_JAVA_CMD
export JDK_HOME=$LEIN_JAVA_CMD
export JAVA_CMD=$LEIN_JAVA_CMD
